<table>
  <caption>ブックマーク一覧</caption>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarked_recipes.each do |bookmarked_recipe| %>
      <tr>
        <td><%= bookmarked_recipe.user.name %></td>
        <td>
          <%= link_to public_user_bookmarked_recipes_show_path(bookmarked_recipe) do %>
            <%= bookmarked_recipe.title %>
          <% end %>
        </td>
        <td><%= bookmarked_recipe.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

