<div class="nested-fields">
  <%= ingredient.text_field :name, placeholder: "材料1", class: "form-control mb-2" %>
  <%= ingredient.text_field :quantity, placeholder: "分量1", class: "form-control mb-2" %>
  <%= link_to_remove_association "削除", ingredient %>
</div>