<div class="nested-fields">
  <%= step.file_field :step_images, placeholder: "写真" %>
  <%= step.text_area :description, placeholder: "作り方", class: "form-control mb-2" %>
  <%= link_to_remove_association "削除", step %>
</div>