<div class="container my-4 px-sm-1" style="max-width: 1000px;">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex align-items-center justify-content-center" style="background-image: url(<%= asset_path 'top2.jpg' %>); background-size: cover; background-position: center; height: 80vh;">
        <div class="text-center">
          <p style="background-color: rgba(220, 220, 220, 0); margin: auto; padding: 20px;">
            <h3>ようこそ</h3>
            <p>
              このサイトでは、様々な料理のレシピを紹介しています<br>
              みんなの投稿を見て、作りたいレシピを見つけよう！
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
