<style>
  /* タイトルに適用するフォント */
  .section-title {
    font-family: 'title', Arial Black; /* 適切なフォント名を指定 */
  }
  /* 本文に適用するフォント */
  .section-content {
    font-family: 'body', Arial Black; /* 適切なフォント名を指定 */
  }
</style>

<div class="container my-4 px-sm-1" style="max-width: 1000px;">
  <div class="row" style="height: 35vh; display: flex; justify-content: center; align-items: center;">
    <div class="col-12" data-aos="fade-right" data-aos-duration="600">
      <%= image_tag asset_path('top.font.png'), class: 'img-fluid' %>
    </div>
  </div>
  <div class="row" style="height: 100vh">
    <div class="col-6" data-aos="fade-up" data-aos-duration="600">
      <%= image_tag asset_path('top6.jpg'), class: 'img-fluid' %>
    </div>
    <div class="col-6" data-aos="fade-left" data-aos-duration="600">
      <h1 class="section-content">ABOUT</h1>
      <h4 class="section-content">このサイトでは、様々な料理のレシピを紹介しています！</br>
          みんなのレビューを見て、作りたいレシピを見つけよう！</br>
      </h4>
    </div>
  </div>
  <div class="row" style="height: 100vh">
    <div class="col-6" data-aos="fade-right" data-aos-duration="600">
      <h1>価格検索もできるよ</h1>
      <h4>
        みんなの投稿を見て、お得な料理を探そう!
      </h4>
    </div>
    <div class="col-6" data-aos="fade-up" data-aos-duration="600">
      <%= image_tag asset_path('top5.jpg'), class: 'img-fluid' %>
    </div>
  </div>
  <div class="row" style="height: 100vh">
    <div class="col-6" data-aos="fade-up" data-aos-duration="600">
      <%= image_tag asset_path('top7.jpg'), class: 'img-fluid' %>
    </div>
    <div class="col-6" data-aos="fade-left" data-aos-duration="600">
      <h1>ジャンル検索もできるよ</h1>
      <h4>
      みんなの投稿を見て、お気に入りのジャンルを探そう!
      </h4>
    </div>
  </div>
</div>
