<div class="container my-4  px-sm-1">
 <div class="px-1 ml-md-2">
   <div class="col-sm-12 col-md-11 col-lg-10 col-xl-8 px-sm-0 px-md-1">
<div class="text-center">
  
<div class="d-flex align-items-center justify-content-center"style="background-image: url(<%= asset_path "top.jpg" %>); background-size: cover; height: 280px; width: 100%">
        <div>
          <p style="background-color: rgba(220, 220, 220, 0.7); margin: auto; padding: auto;">
            <h2>About</h2>
            <h3>ようこそ</br>
            このサイトでは、様々な料理のレシピを紹介しています！</br>
            みんなのレビューを見て、作りたいレシピを見つけよう！</br>
            </h3>
          </p>
        </div>
      </div>
      
      <!-- スライダーのコンテナ -->
        <!--<div class="swiper">-->
          <!-- 必要に応じたwrapper -->
        <!--  <div class="swiper-wrapper">-->
            <!-- スライド -->
        <!--    <div class="swiper-slide"><img src="/assets/top.jpg"></div>-->
        <!--    <div class="swiper-slide"><img src="/assets/top2.jpg"></div>-->
        <!--    <div class="swiper-slide"><img src="/assets/top3.jpg"></div>-->
        <!--    <div class="swiper-slide"><img src="/assets/top4.jpg"></div>-->
        <!--  </div>-->
          <!-- 必要に応じてページネーション -->
        <!--  <div class="swiper-pagination"></div>-->
          <!-- 必要に応じてナビボタン -->
        <!--  <div class="swiper-button-prev"></div>-->
        <!--  <div class="swiper-button-next"></div>-->
        <!--</div>-->
</div>


