<h1>会員情報詳細(Show)</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>

<div class="container my-4 px-sm-1">
   <div class="px-1 ml-md-5">
    <h5 class="bg-light text-center ml-5 mb-4" style="width: 130px;">マイページ</h5>
  </div>
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-8 px-sm-0 px-md-1">
    <div class="d-flex align-items-center my-3 ">
      <h5 class="my-0 font-weight-bold">登録情報</h5>
      <%#= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-success btn-sm px-4 ml-3 m-0" %>
    </div>
    <table class="table table-bordered table-hover">
      <tr>
        <th class="bg-light col-4">ユーザー名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="bg-light col-4">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>
  </div>
</div>


